# Predicting house prices using linear regression is a common task

In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [2]:
df= pd.read_csv('bedroom.csv')
df

   Area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000
5  4100      6.0    8  810000

# to check null values

In [3]:
df.isnull().sum()

Area       0
bedroom    1
age        0
price      0
dtype: int64

# find median values of Bedroom

In [4]:
# import math
# df.bedroom.median()

                      # # you can use other method

df1 = df['bedroom'].median()
df1

4.0

# fill median values in null values.

In [5]:
# df.bedroom= df.bedroom.fillna(df.bedroom.median())
# df

                           # # you can use other method

# fill mean values in particular column of datasets

df["bedroom"].fillna(df["bedroom"].median(),inplace = True)
df

   Area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      4.0   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000
5  4100      6.0    8  810000

# initializes a linear regression model.

# You’re dropping the 'price' column (target variable) from the features using df.drop('price', axis='columns').

# The fit() method is used to train the model on the provided data.

In [6]:
model = linear_model.LinearRegression()
model.fit(df.drop('price',axis = 'columns'),df.price)

LinearRegression()

# Use the trained model to predict house prices for new data (testing set).

In [7]:
pre = model.predict([[3000,3,40]])      # area,bedroom,age
print("Predicted House price:=",pre)

Predicted House price:= [498408.25158031]

C:\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [8]:
model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [9]:
model.intercept_

221323.0018654043

In [10]:
model.predict([[3000,3,20]])

C:\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([563042.60975297])

#           find predict price from prticular column(Area)

In [24]:
df1= pd.read_csv('bedroom.csv')
df

   Area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000
5  4100      6.0    8  810000

In [25]:
# fill mean values in particular column of datasets

df1["bedroom"].fillna(df1["bedroom"].median(),inplace = True)
df1

   Area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      4.0   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000
5  4100      6.0    8  810000

In [26]:
model1 = linear_model.LinearRegression()
model1.fit(df1[['Area']],df1.price)

LinearRegression()

In [29]:
pre = model1.predict([[3000]])      # area,bedroom,age
print("Predicted House price:=",pre)

Predicted House price:= [578621.02217936]

C:\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

# Saving model objects (like your trained linear regression model) to disk for later use.

In [30]:
import pickle

# You’ve successfully saved your trained linear regression model to a file named 'model_pickle'. This allows you to reuse the model later without retraining it from scratch

In [36]:
with open('model_pickle','wb')as file:
    pickle.dump(model,file)

In [38]:
with open('model_pickle','rb')as f:
    mp = pickle.load(f)

In [39]:
mp.coef_

AttributeError: 'LinearRegression' object has no attribute 'coef_'